
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rufina&display=swap');

html {
    height: 100%;
}

/*--------------------------------Colors */

.fa-spotify {
    color: #00b300;
}

.fa-youtube {
    color: #ff0000;
}

.fa-instagram {
    color: #e6005c;
}

.left-col {
    background-color: #0d0d0d80;
    color: #fafafa;
}



/*--------------------------------Images */

body {
    background: url(../images/tre-suit-profile-sm.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
.about-body {
    background: url(../images/about.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact-body {
    background: url(../images/Downsize.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.project-body {
    background: url(../images/store.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*--------------------------------Special headings, margins, text*/

h1,
h2,
h3,
h4 {
    margin: 0
}


.text-bold {
    font-weight: bold;
}

.col-sm-4 {
    padding-top:25px;
}

.bg-color-contact {
    background-color: #0d0d0d80;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: 'Quicksand',sans-serif;
    color: #fafafa;
    font-weight: 300;
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    background: #fafafa;
    transition: all .35s ease-in-out;
    -webkit-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
}

.social-links li a i:hover {
    background: #1a1a1a;
}

.fa-download {
    color: #fafafa;
    transition: all .25s ease-in-out;
}
.fa-download:hover {
    color:#000099;
}

.nav-sub {
    font-family: 'Quicksand', sans-serif;
}

.p-sub {
    font-family: 'Quicksand', sans-serif;
    color: #fafafa;
}

.left-col-heading {
    text-align: center;
    padding-top: 10px;
}

.left-col-p {
    text-align: center;
}


.block-divider {
    background-color: #fafafa;
    width:220px;
    height: 0px;
    margin-top: 0px;
    margin-bottom: 3px;
}

.left-index {
    position: absolute;left: 5%;
    margin-top: 10%;
    color: #fafafa;
}

.left-ind-text {
    font-family: 'Rufina',serif;
    text-align: center;
}

.left-ind-heading {
    margin-bottom: 0px;
    font-size: 50px;
}

.left-ind-p {
    font-size: 20px;
}


.circle-text {
    font-family: 'Rufina',serif;
    text-align: center;
    margin-top: 60px;
}

/*--------------------------------Footer */

footer {
    background-color: #00001af7;
    color: #fafafa;
    position: absolute;bottom:0px;
}

/*--------------------------------Content divs */

.left-col {
    height:500px;
    width:50%;
    font-size: 20px;
}

.circle-right {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: absolute;right: 13%;
    background-color: #0d0d0dd6;
    margin-top: 15px;
    color: #fafafa;
}


.circle-left {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: absolute;left: 13%;
    background-color: #0d0d0dd6;
    margin-top: 15px;
    color: #fafafa;
}

.tell-me {
    margin: auto 50px;
    margin-top: 20%;
}

.ipad-media {
    width: 100%;
    height: 50%;
    background-color: #0d0d0dd6;
}

.tell-ipad {
    margin-top: 10%;
    position: absolute;right: 10px
}


/*--------------------------------navbar */

.navbar .navbar-toggler {
    border: 0;
}

.navbar-dark {
    background-color: #343a40eb; 
}



/*--------------------------------Booking */

.contact-heading {
    margin-top: 25px;
    margin-bottom: 20px;
}
.contact-p {
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.center-form {
    margin:0 auto;
    max-width: 50%;
}

button[type="submit"]{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #000066;
}
button[type="submit"]:hover {
    background-color: black;
}

/*--------------------------------media queries */

@media (min-width: 320px) and (max-width:375px) {
    .left-col {
        height: 75%;
        width: 100%; 
    }
    .left-col-p {
        font-size: 15px;
    }
    footer {
        height: 125px;
    }
    .portfolio {
        display: none;
    }
    .contact-p {
        margin: 5px;
    }
    .contact-heading {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .social-about {
        display: none;
    }
    
}

@media (min-width: 376px) and (max-width:767px) {
    .left-col {
        width: 100%;
        height: 50%;
    }
    .circle-right {
        display: none;
    }
    .circle-left {
        display: none;
    }
    .left-col-p {
        font-size: 18px;
    }

        
    }
}

@media (min-width: 768px) and (max-width:1024px) {
    .left-col {
        width: 100%;
        height: 50%;
    }
    .left-col-p {
        font-size: 30px;
    }
    .circle-right {
        display: none;
    }
    .circle-left {
        display: none;
    }
    .left-index {
        margin-top: 20%;
    }
}

@media (min-width:1025px) {
    .ipad-media {
        display: none;
    }
}