@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');



/*--------------------------------Colors */

.fa-spotify {
    color: #00b300;
}

.fa-youtube {
    color: #ff0000;
}

.fa-instagram {
    color: #e6005c;
}



/*--------------------------------Images */

body {
    background: url(../images/tre-suit-profile-sm.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}

/*--------------------------------Special headings, margins, text*/

h1,
h2,
h3,
h4 {
    margin: 0
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: 'Quicksand',sans-serif;
    color: #fafafa;
    font-weight: 300;
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    background: #fafafa;
    transition: all .35s ease-in-out;
    -webkit-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
}

.social-links li a i:hover {
    background: #1a1a1a;
}


/*--------------------------------Footer */

footer {
    background-color: #00001a;
    color: #fafafa;
    min-height: 120px;
}