@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');



/*--------------------------------Colors */

.fa-spotify {
    color: #00b300;
}

.fa-youtube {
    color: #ff0000;
}

.fa-instagram {
    color: #e6005c;
}

.left-col {
    background-color: #0d0d0d;
    color: #fafafa;
}


/*--------------------------------Images */

body {
    background: url(../images/tre-suit-profile-sm.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about-body {
    background: url(../images/about.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*--------------------------------Special headings, margins, text*/

h1,
h2,
h3,
h4 {
    margin: 0
}

.col-sm-4 {
    padding-top:25px;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: 'Quicksand',sans-serif;
    color: #fafafa;
    font-weight: 300;
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    background: #fafafa;
    transition: all .35s ease-in-out;
    -webkit-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
}

.social-links li a i:hover {
    background: #1a1a1a;
}

.fa-download {
    color: #fafafa;
    transition: all .25s ease-in-out;
}
.fa-download:hover {
    color:#000099;
}

.nav-sub {
    font-family: 'Quicksand', sans-serif;
}

.p-sub {
    font-family: 'Quicksand', sans-serif;
}

.left-col-heading {
    text-align: center;
    padding: 10px;
}

.left-col-p {
    text-align: center;
    padding: 10px;
}

/*--------------------------------Footer */

footer {
    background-color: #00001a;
    color: #fafafa;
    min-height: 120px;
    position: absolute;bottom: 0px;
}

/*--------------------------------Content divs */

.left-col {
    height:500px;
    width:25%;
}